/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');


/* shared styles */
* {
    font-family: 'Mulish', sans-serif;
}

.description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}




/* Nav related styles */
nav {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    width: 50%;
    align-items: center;

}

.nav-tittle {
    color: #131318;
    font-family: Mulish;
    font-size: 2.3rem;
    padding-left: 5px;
}

.special {
    color: #FF5400;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.nav-items a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;

}

/* Banner related styles */

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    border-radius: 16px;
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;

}

.container {
    text-align: center;
}

.banner-tittle {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 100px;
}

.input-room {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 20px;
    height: 50px;
}

.input-containers {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    /* background:rgba(255, 255, 255, 0.30); */
    padding-bottom: 200px;
    gap: 5p
    
    
}

.inputs {
    background: #FFF;
    padding: 16px 60px 16px 16px;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-bottom: 106px;



}

.find {
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 50px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.primary-btn {
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 50px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;

}

.primary-btn img {
    margin-right: 5px;
}

/* popular section related styles */

.popular {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 100px;
}

.tittles {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.description-tour {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    width: 600px;
}

.tour-end {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

/* Destination section related styles */

.destination {
    text-align: center;
    margin-top: 100px;
}

.destination .tour-end {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.destination-img .row {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;
}

.resize1 {
    width: 550px;
    height: 300px;
}

.resize2 {
    width: 580px;
    height: 300px;
}

/* choose us section related styles */
.choose-us {
    text-align: center;
}

.choose-description {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;

}

.choose-cards {
    display: flex;
    justify-content: space-evenly;
    max-width: 1140px;
    margin: 0 auto;
    gap: 20px;

}

.card1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-top: 30px;
    padding-left: 30px;
    width: 48%;
    margin-right: 4px;
}

.card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding-top: 30px;
    padding-left: 30px;
    width: 48%;

}

.last-card {
    max-width: 1140px;
    margin: 0 auto;
}

.card3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding-top: 30px;
    padding-left: 30px;
    width: 48%;
    margin-left: 300px;
    margin-top: 20px;

}

.card-tittle {
    color: #131318;
    font-size: 1.5rem;
}

/* Bonus section related styles */

.guide-details {
    text-align: center;
    margin-top: 80px;
}

.guide-tittle {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;

}

.guides-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;


}

.galary {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1140px;
}

.galary img {
    flex-wrap: wrap;
    width: 520px;
    height: 350;
    margin-top: 20px;
    border-radius: 16px;
}




/* Discount & deals related styles */


/* Perfect place section related styles */

.perfect-container {
    display: flex;
    gap: 10px;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 60px;
}

.perfect-video {
    padding-top: 40px;

}


.perfect-video video {
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);

}

.perfect-tittle {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.perfect-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.perfect-sub {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
}

.video-tittle {
    color: #ffffff;
    position: relative;
    bottom: 250px;
    left: 150px;
    font-size: 1.5rem;
    width: 300px;

}

/* Newsletter section related styles */
.news-letter {
    max-height: 480px;
}

.newsletter-container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    gap: 30px;
}

.news-content {
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 474px;
    height: 422px;
    text-align: center;
}


.news-content input,
.subs {
    display: block;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 60%;
    padding: 16px 40px 16px 20px;
    margin-left: 60px;
    border: none;
    margin-bottom: 10px;
}

.news-content .subs {
    padding: 14px 210px 14px 130px;
    background: #FF5400;
}

.news-content hr {
    background: #F3F3F3;
    width: 70%;
    padding-bottom: 2px;
    border: none;
}

.news-tittle {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.news-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.dis-img {
    position: relative;
    bottom: 350px;
    left: 130px;

}

/* Footer related styles */
.footer-sec {
    background: rgba(19, 19, 24, 0.05);
    width: 100%
}

.footer-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-resources {
    text-align: center;
}

.footer-resources img {
    width: 2%;
    margin-right: 5px;
    margin-top: 20px;
}

#footer-gap {
    background: #DDDDDD;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 70%;
    /* border: none; */
}

.footer-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.footer-rights {
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 100px;
}



/* Responsive styles */


/* Small devices styles */

@media screen and (max-width: 600px) {
    .nav-container {
        width: 90%;
    }

    .nav-items {
        display: none;
    }

    .nav-tittle {
        font-size: 1.5rem;
    }

    .banner-tittle {
        font-size: 1.5rem;
    }

    .description {
        font-size: 0.8rem;
        width: 90vw;
        margin-left: 10px;
    }

    .find {
        width: 250px;
    }

    .input-containers {
        flex-direction: column;
        align-items: center;

    }

    .input-room {
        height: 50px;
    }

    .inputs {
        padding: 0 0 0 5px;
        width: 250px;
        height: 50px;
        /* gap: px; */
    }

    .primary-btn {
        width: 200px;
        height: 50px;
    }

    .popular {
        flex-direction: column;
        align-items: center;
    }

    .popular-img img {
        width: 100%;


    }

    .description-tour,
    .tour-end {
        width: 300px;
    }

    .tittles {
        font-size: 1.5rem;
    }

    .destination .tour-end {
        width: 300px;
    }

    .row {
        flex-direction: column;

    }

    .row img {
        width: 100%;
    }

    .choose-description {
        width: 360px;
    }

    .choose-cards {
        flex-direction: column;
    }

    .card1,
    .card2 {
        width: 90%;
    }

    .card3 {
        margin-left: 0;
        width: 90%;
    }

    .perfect-container {
        flex-direction: column;
    }

    .perfect-video video {
        width: 100%;

    }

    .video-tittle {
        left: 50px;
        bottom: 280px;
    }

    .newsletter-container {
        flex-direction: column;

    }

    .news-content {
        width: 100%;
    }

    .news-content .subs {
        padding: 14px 170px 14px 100px;
        width: 275px;
    }

    .news-img img {
        height: 300px;
        width: 100%;
    }

    .dis-img {
        bottom: 250px;
        left: 72px;
    }

    .news-letter {
        max-height: 800px;
    }

    .galary img {
        width: 100%;
        height: 300px;
    }
}



/* Styles for larger devices */

@media screen and (min-width: 992px) {
    .ham-img {
        display: none;
    }

}